// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import "patterns/_defra-login-nav";
@import "patterns/_defra-pagination";
@import "components/_defra-filter";
@import "components/_defra-search";
@import "components/accessible-autocomplete";
@import "components/autocomplete__dropdown-arrow";

// task list
.in-progress{background:#71767e}
.not-started{background:white;color:#141414;border: solid 1px #cbcbcb }
.turquoise-tag{background:#28a197;font-size: 0.875rem; }
.app-task-list__task-name {
  max-width: 75%;
}

// RADIOS
.govuk-radios--fixed .govuk-radios__item{
  width:auto;
  @media (min-width: 40.0625em){
    width: 40%
  }
}

.govuk-radios.govuk-radios--fixed.govuk-radios--inline {
  padding-bottom: 20px;
  border-bottom: 1px solid #bfc1c3;
  width: auto;
  overflow-wrap: break-word;
}

.govuk-commodities-radios__label {
	@extend .govuk-radios__label
}

.defra-callout {
  background: #f3f2f1;
  padding: 25px;
  position: relative;
}
.defra-callout--code {
  padding-top: 45px;
}