
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Export health certificates
      <span class="govuk-caption-xl">Prototype</span>
    </h1>
    <p>
      This is the latest prototype for the export health certificates project.
    </p>

    <h2 class="govuk-heading-l">
      Fish export certificates
    </h2>
    <h3 class="govuk-heading-m">
      Version 0-1
    </h3>
    <p>
      An <a href="version-0-1">initial concept</a> with a rough user journey based on the team's sketches.
    </p>


  </div>
</div>

{% endblock %}
